.notFound {
    margin-left: 11%;
    height: 550px;
    width: 1110px;;
    background-image: url("kamui.jpg");
    background-size:100%;
    background-position:center center
 
}
.notFound .huhu{
    position: absolute;
    top:40% ;
    left: 14%;
    font-size: 15px;
    color: aliceblue;
}